.button {
  display: flex;
  height: 3.5em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #343744;
  color: rgb(255, 255, 255);
  outline: 1px solid #888;
}
.operator {
  background-color: #47fe41;
  color: rgb(0, 0, 0);
}