.clear-btn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
  outline: 1px solid #888;
  height: 3.5em;
  background-color: #ffffff;
}