.input {
  display: flex;
  height: 2em;
  flex: 1;
  background-color: rgb(0, 0, 0);
  outline: 1px solid #888;
  color: rgb(255, 255, 255);
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  align-items: center;
}