.App {
  justify-content: 0;
  align-items: 0;
  height: 48vh;
  max-width: 350px;
  margin: 10px;
  background-color: rgb(3, 44, 47);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.calc-wrapper {
  width: 350px;
  height: 500px;
}
.row {
  display: flex;
  width: 100%;
}